
.brand-name {
    -fx-effect: dropshadow(three-pass-box, rgba(37, 37, 37, 0.3), 10.0, 0.0, 0.0, 10.0);
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}

.i {
    -fx-effect: dropshadow(three-pass-box, rgba(37, 37, 37, 0.3), 10.0, 0.0, 0.0, 10.0);
    -fx-text-fill: #D1462F;
}

.care {
    -fx-effect: dropshadow(three-pass-box, rgba(37, 37, 37, 0.3), 10.0, 0.0, 0.0, 10.0);
    -fx-text-fill: #E0FBFC;
}

.about-box {
    -fx-background-color: #E0FBFC;
    -fx-background-radius: 20px;
}

.about-title {
    -fx-font-size: 25px;
    -fx-text-fill: #1a1919;
    -fx-font-weight: bold;
}

.about-us {
    -fx-font-size: 16px;
    -fx-text-fill: #1a1919;
}

.names {
    -fx-font-size: 18px;
    -fx-text-fill: #1a1919;
    -fx-font-weight: bold;
}