.box {
    -fx-background-color: #293241;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

.id {
    -fx-background-color: transparent;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.inputs, .inputs .text-field, .inputs .content {
    -fx-background-color: #D9D9D9;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.card-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.update-button {
    -fx-background-color: #093F68;
    -fx-background-radius: 5px;
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.update-button:armed, .remove-button:armed {
    -fx-opacity: 0.5;
}

.remove-button {
    -fx-background-color: #E74C3C;
    -fx-background-radius: 5px;
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}