.card {
    -fx-background-color: #E0FBFC;
    -fx-background-radius: 5px;
}

.card-title, .card-count {
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.card-title {
    -fx-font-size: 18px;
}

.card-count {
    -fx-font-size: 16px;
}

.brand-name {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

.header-box {
    -fx-background-color: #3D5A80;
    -fx-background-radius: 50px 0 50px 0;
}

.nav-box {
    -fx-background-color: #3D5A80;
    -fx-background-radius: 0 0 50px 0;
}

.input-labels {
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.inputs, .inputs .text-field, .inputs .textarea {
    -fx-background-color: #D9D9D9;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.add-button {
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-radius: 5px;
    -fx-text-fill: #fff;
    -fx-border-width: 2px;
}

.add-button:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.add-button:armed {
    -fx-opacity: 0.5;
}