
.main-button {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
}

.main-button:hover {
    -fx-background-color: #98C1D9;
    -fx-background-radius: 10px;
    -fx-border-width: 3px;
    -fx-text-fill: #fff;
}

.main-button:armed {
    -fx-opacity: 0.5;
}