.card {
    -fx-background-color: #E0FBFC;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
}

.card-title, .card-count  {
    -fx-text-fill: #262424;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.doctor-card, .patient-card {
    -fx-background-color: #3D5A80;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
}

.patient-card-title, .patient-card-count, .doctor-card-title, .doctor-card-count {
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.patient-card-title, .doctor-card-title {
    -fx-font-size: 22px;
}

.patient-card-count, .doctor-card-count {
    -fx-font-size: 18px;
}

.brand-name {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

.header-box {
    -fx-background-color: #3D5A80;
    -fx-background-radius: 50px 0 50px 0;
}

.nav-box {
    -fx-background-color: #3D5A80;
    -fx-background-radius: 0 0 50px 0;
}

.input-labels {
    -fx-text-fill: #3D5A80;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.inputs, .inputs .text-field, .inputs .content {
    -fx-background-color: #D9D9D9;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.add-button {
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-background-radius: 30px 5px 30px 5px;
    -fx-border-color: #3D5A80;
    -fx-border-radius: 30px 5px 30px 5px;
    -fx-text-fill: #3D5A80;
    -fx-font-weight: bold;
}

.add-button:hover {
    -fx-background-color: #3D5A80;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.add-button:armed {
    -fx-opacity: 0.5;
}

.main-button {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
}

.main-button:hover {
    -fx-background-color: #98C1D9;
    -fx-background-radius: 10px;
    -fx-border-width: 3px;
    -fx-text-fill: #000;
    -fx-cursor: default;
}

.main-button:armed {
    -fx-opacity: 0.5;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(37, 37, 37, 0.3), 10.0, 0.0, 0.0, 10.0);
}

