
.header-box {
    -fx-background-color: #E0FBFC;
}

.brand-name {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.i {
    -fx-text-fill: #D1462F;
}

.care {
    -fx-text-fill: #3D5A80;
}

.nav-box {
    -fx-background-color: #E0FBFC;
}

.logout-button {
    -fx-background-color: transparent;
}

.logout-button:hover {
    -fx-background-color: #98C1D9;
}