
.header-box {
    -fx-background-color: #E0FBFC;
}

.nav-box {
    -fx-background-color: #98C1D9;
}

.logout-button {
    -fx-background-color: tranaparent;
}
.logout-button:hover {
    -fx-background-color: #98C1D9;
}