
.main-button {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
}

.main-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(37, 37, 37, 0.2), 10.0, 0.0, 0.0, 10.0);
    -fx-background-color: #98C1D9;
    -fx-background-radius: 10px;
    -fx-border-width: 3px;
    -fx-cursor: default;
}

.main-button:armed {
    -fx-opacity: 0.5;
}

.header-box {
    -fx-background-color: #E0FBFC;
    -fx-background-radius: 50px 0 50px 0;
}

.nav-box {
    -fx-background-color: #E0FBFC;
    -fx-background-radius: 0 0 50px 0;
}

.brand-name {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.i {
    -fx-text-fill: #D1462F;
}

.care {
    -fx-text-fill: #3D5A80;
}

.logout-button {
    -fx-background-color: transparent;
}

.logout-button:hover {
    -fx-background-color: #98C1D9;
}