
* {
    -fx-font-family: SansSerif;
}

.left-side {
    -fx-background-color: #293241;
    -fx-background-radius: 0 50px 50px 0;
}

.right-side {
    -fx-background-color: #E0FBFC;
}

.brand-name {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

.i {
    -fx-text-fill: #D1462F;
}

.care {
    -fx-text-fill: #3D5A80;
}

.login-button {
    -fx-border-color: #97d1d2;
    -fx-text-fill: #293241;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.login-button:hover{
    -fx-background-color: #293241;
    -fx-text-fill: #E0FBFC;
    -fx-border-color: #293241;
    -fx-cursor: hand;
}

.labels {
    -fx-text-fill: #293241;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.login-button:armed {
    -fx-background-color: #161c25;
    -fx-border-color: #161c25;
    -fx-text-fill: #E0FBFC;
}

.inputs {
    -fx-background-color: #3D5A80;
    -fx-text-fill: #eeeeee;
    -fx-font-size: 18px;
}