.main-button {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
}

.main-button:hover {
    -fx-background-color: #98C1D9;
    -fx-background-radius: 10px;
    -fx-border-width: 3px;
    -fx-text-fill: #000;
    -fx-cursor: default;
}

.main-button:armed {
    -fx-opacity: 0.5;
}

.header-box {
    -fx-background-color: #98C1D9;
}

.nav-box {
    -fx-background-color: #E0FBFC;
}



